In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('Banco_Biblioteca.db')

In [22]:
sql_criar_tabela_autor = """
-- Tabela Autor
CREATE TABLE Autor (
	id_autor INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    nome VARCHAR(70) NOT NULL,
    data_nascimento DATE NOT NULL,
    nacionalidade VARCHAR(50) NOT NULL
);
"""

sql_criar_tabela_livro = """
-- Tabela Livro
CREATE TABLE Livro (
	id_livro INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    titulo VARCHAR (200) NOT NULL,
    ano_publicacao DATE NOT NULL,
    editora VARCHAR(100) NOT NULL,
    id_autor INT NOT NULL,
    FOREIGN KEY (id_autor) REFERENCES Autor (id_autor)
);
"""

sql_criar_tabela_emprestimo = """
-- Tabela Emprestimo
CREATE TABLE Emprestimo (
    id_emprestimo INTEGER PRIMARY KEY,
    id_livro INT,
    data_emprestimo DATE,
    data_devolucao DATE,
    FOREIGN KEY (id_livro) REFERENCES Livro (id_livro)
);
"""

sql_popular_autor = """
-- Populando Autor
INSERT INTO Autor (nome, data_nascimento, nacionalidade) 
VALUES
	('George Orwell', '1903-06-25', 'Inglês'),
    ('Aldous Huxley', '1894-06-26', 'Inglês'),
    ('Neal Shusterman', '1962-11-12', 'Americano');
"""

sql_popular_emprestimo = """
-- Populando Emprestimo
INSERT INTO Emprestimo (id_emprestimo, id_livro, data_emprestimo, data_devolucao) VALUES
(1, 1, '2023-05-01', '2023-05-15'),
(2, 3, '2023-05-03', '2023-05-17'),
(3, 4, '2023-05-05', '2023-05-19');
"""

sql_popular_livro = """
-- Populando Livro 
INSERT INTO Livro (titulo, ano_publicacao, editora, id_autor)
VALUES
	('1984', '1949-01-01', 'Companhia das Letras', 1),
	('A Revolução dos Bichos', '1945-01-01', 'Companhia das Letras', 1),
    ('Adimiravel Mundo Novo', '1932-01-01', 'Antígona', 2),
    ('O Ceifador', '2016-01-01', 'Seguinte', 3),
    ('A Nuvem', '2018-01-01', 'Seguinte', 3),
    ('O Timbre', '2020-01-01', 'Seguinte', 3);
"""

sql_join1 = """
-- Join para mostrar o nome do Autor e seus titulos
SELECT a.nome, l.titulo
FROM Autor a
JOIN Livro l ON a.id_autor = l.id_autor;
"""

sql_join2 = """
-- Join para mostrar os livros de uma determinada editora
SELECT l.titulo, l.ano_publicacao, a.nome as autor_nome
FROM Livro l
JOIN Autor a ON l.id_autor = a.id_autor
WHERE l.editora = "Seguinte";
"""

sql_join3 = """
-- Join para mostrar todos os autores que nasceram depois de uma data determinada
SELECT a.nome, l.titulo
FROM Autor a
JOIN Livro l ON a.id_autor = l.id_autor
WHERE a.data_nascimento > '1900-01-01';
"""

sql_join4 = """
-- Join para mostrar os livros emprestados
SELECT Emprestimo.data_emprestimo, Emprestimo.data_devolucao, Livro.titulo
FROM Emprestimo
JOIN Livro ON Emprestimo.id_livro = Livro.id_livro;
"""

In [10]:
conn.execute(sql_criar_tabela_autor)
conn.commit

In [12]:
conn.execute(sql_criar_tabela_emprestimo)
conn.commit

In [13]:
conn.execute(sql_criar_tabela_livro)
conn.commit

In [15]:
conn.execute(sql_popular_autor)
conn.commit

In [16]:
conn.execute(sql_popular_emprestimo)
conn.commit

In [17]:
conn.execute(sql_popular_livro)
conn.commit

In [18]:
#Join para mostrar o autor e seus titulos
cursor = conn.execute(sql_join1)
rows = cursor.fetchall()
for row in rows:
    print(row)

('George Orwell', '1984')
('George Orwell', 'A Revolução dos Bichos')
('Aldous Huxley', 'Adimiravel Mundo Novo')
('Neal Shusterman', 'O Ceifador')
('Neal Shusterman', 'A Nuvem')
('Neal Shusterman', 'O Timbre')

In [19]:
#Join para mostrar os livros de uma determinada editora
cursor = conn.execute(sql_join2)
rows = cursor.fetchall()
for row in rows:
    print(row)

('O Ceifador', '2016-01-01', 'Neal Shusterman')
('A Nuvem', '2018-01-01', 'Neal Shusterman')
('O Timbre', '2020-01-01', 'Neal Shusterman')

In [20]:
#Join para mostrar todos os autores que nasceram depois de uma data determinada
cursor = conn.execute(sql_join3)
rows = cursor.fetchall()
for row in rows:
    print(row)

('George Orwell', '1984')
('George Orwell', 'A Revolução dos Bichos')
('Neal Shusterman', 'O Ceifador')
('Neal Shusterman', 'A Nuvem')
('Neal Shusterman', 'O Timbre')

In [23]:
#Join para mostrar os livros emprestados
cursor = conn.execute(sql_join4)
rows = cursor.fetchall()
for row in rows:
    print(row)

('2023-05-01', '2023-05-15', '1984')
('2023-05-03', '2023-05-17', 'Adimiravel Mundo Novo')
('2023-05-05', '2023-05-19', 'O Ceifador')

In [ ]:
conn.close()